[submodule "shrub_bot"]
	path = shrub_bot
	url = git@github.com:zphixon/shrub-bot.git
[submodule "dart-or-penny"]
	path = dart-or-penny
	url = git@github.com:zphixon/dart-or-penny.git
[submodule "blog"]
	path = blog
	url = git@github.com:zphixon/blog.git
[submodule "palettizer"]
	path = palettizer
	url = https://github.com/zphixon/palettizer
	branch = main
