[Unit]
Description=datasette
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ datasette.user }}
ExecStart=/usr/local/bin/datasette serve \
    --host localhost \
    --port {{ datasette.port }} \
    --setting base_url {{ datasette.endpoint }} \
    --setting num_sql_threads 0 \
    --immutable \
    {{ spotti.database }}

[Install]
WantedBy=multi-user.target
