bind = "127.0.0.1:{{ blog_editor.port }}"
url = "https://grape.surgery"

blog_url = "https://grape.surgery/blog"
path_regex = "<!--relative path \\((.*)\\)-->"
blog_dir = "{{ pages.blog.repo }}"
blog_build_dir = "{{ pages.blog.build }}"
dest_dir = "{{ pages.blog.dest }}"

build_command = ["zola", "build"]
create_revision = ["git", "commit", "-am"]
stage_revision = ["git", "add"]
reset_command = ["git", "clean", "-fd"]
list_revisions = ["git", "log", "--pretty=format:%h %ad %s"]
revert_revision = ["git", "revert"]
fix_revert = ["git", "revert", "--abort"]
copy_command = ["cp", "-rT"]

templates_dir = "{{ blog_editor.source_dir }}/templates"