[Unit]
Description=blog editor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ blog_editor.user }}
Group=blogfiles
ExecStart={{ blog_editor.dir }}/editor {{ blog_editor.dir }}/config.toml

[Install]
WantedBy=multi-user.target
