[Unit]
Description=cabbage-size
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ cabbage_size.user }}
ExecStart={{ cabbage_size.dir }}/cs {{ cabbage_size.dir }}/config.toml
Environment="ROCKET_CONFIG={{ cabbage_size.dir }}/config_rocket.toml"

[Install]
WantedBy=multi-user.target
