thumbnail_dir = '{{ syncthing.data_dir }}/thumbnails'
file_dir = '{{ syncthing.data_dir }}'
page_root = '{{ dop.page_root }}'
bind = '127.0.0.1:{{ dop.port }}'
scan_interval = "1 hour"

[[shortcut]]
name = "Recipes"
url = "dropbox/recipes"

[[shortcut]]
name = "ZackPC Pictures"
url = "files/pics3"
