thumbnail_dir = '{{ syncthing.data_dir }}/thumbnails'
file_dir = '{{ syncthing.data_dir }}'
thumbnail_size = 75
page_root = '{{ dop.page_root }}'
bind = '0.0.0.0:{{ dop.port }}'

# done with nginx htpasswd
#auth = ''
