# vim: et ts=2 sw=2 ft=nginx

user {{ nginx.user }};
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
  worker_connections 768;
}

# syncthing data port
stream {
  server {
    listen {{ syncthing.ports.data_public }};
    proxy_pass [::1]:{{ syncthing.ports.data_private }};
  }
}

http {
  sendfile on;
  tcp_nopush on;
  types_hash_max_size 2048;
  include /etc/nginx/mime.types;
  default_type application/octet-stream;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
  ssl_prefer_server_ciphers on;
  access_log {{ nginx.dir }}/access.log;
  error_log {{ nginx.dir }}/error.log;
  gzip on;
  include {{ nginx.dir }}/sites.conf;
}
