# vim: et ts=2 sw=2 ft=nginx

server {
  server_name gang-and-friends.com;
  listen 80;
  root {{ nginx.dir }}/www/gang-and-friends.com;
  index index.html;
  location / {
    try_files $uri $uri/ =404;
  }
}

server {
  server_name oatmeal.gay;
  listen 80;
  root {{ nginx.dir }}/www/oatmeal.gay;
  index index.html;
  location / {
    try_files $uri $uri/ =404;
  }
}

server {
  server_name grape.surgery;
  listen 80;
  root {{ nginx.dir }}/www/grape.surgery;
  index index.html;
  location / {
    try_files $uri $uri/ =404;
  }

  location /sync/ {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://localhost:{{ syncthing.ports.gui }}/;
  }

  {% for endpoint in spotti.endpoints %}
  location /music{{ ('/' ~ endpoint.value) if endpoint.value != '' else '' }} {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://localhost:{{ spotti.port }}/music{{ ('/' ~ endpoint.value) if endpoint.value != '' else '' }};
  }
  {% endfor %}

  location {{ datasette.endpoint }} {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://localhost:{{ datasette.port }};
    auth_basic "datasette";
    auth_basic_user_file {{ nginx.dir }}/htpw2;
  }

  location /files {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://localhost:{{ dop.port }}{{ dop.page_root }};
    auth_basic "files";
    auth_basic_user_file {{ nginx.dir }}/htpw2;
  }

  {% for endpoint in cabbage_size.endpoints %}
  location /cabbage/{{ endpoint }} {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://localhost:{{ cabbage_size.port }}/{{ endpoint }};
  }
  {% endfor %}

  # TODO: make nicer
  location /garbo {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_http_version 1.1;
    proxy_pass http://localhost:2213/;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    proxy_set_header Host $host;
  }
}
