{% for domain in nginx.domains %}
server {
  server_name {{ domain.name }};
  listen [::]:80 http2;
  root {{ nginx.dir }}/www/{{ domain.name }};
  index index.html;
  location / {
    try_files $uri $uri/ =404;
  }
  {% if 'include' in domain %}
  include {{ domain.include }};
  {% endif %}
}
{% endfor %}