[Unit]
Description=spotti discord downbot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ spotti.user }}
ExecStart={{ spotti.dir }}/python/bin/python3 -u {{ spotti.dir }}/downbot.py {{ spotti.dir }}/downbot.toml

[Install]
WantedBy=multi-user.target

