key = '{{ secret.spotti.downbot_key }}'
status_file = '{{ spotti.dir }}/status.txt'
pid_file = '{{ spotti.dir }}/bot-pid.txt'
spotti_uptime = 'http://localhost:{{ spotti.port }}/music/up'
size_uptime = 'http://localhost:{{ cabbage_size.port }}/up'
me = {{ secret.spotti.my_id }}
