key = '{{ secret.spotti.downbot_key }}'
me = {{ secret.spotti.my_id }}

size_uptime = 'http://localhost:{{ cabbage_size.port }}/up'

spotti_poll = 33
spotti_uptime = 'http://localhost:{{ spotti.port }}{{ spotti.web_root }}/up'
spotti_status = 'http://localhost:{{ spotti.port }}{{ spotti.web_root }}'
spotti_refresh = 'http://localhost:{{ spotti.port }}{{ spotti.web_root }}/refresh'
