# copied from syncthing github

[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)
After=network.target
#StartLimitIntervalSec=60
#StartLimitBurst=4

[Service]
User={{ syncthing.user }}
ExecStart={{ syncthing.binary }} serve --no-default-folder --no-browser --no-restart --logflags=0 --home={{ syncthing.dir }} --gui-address http://localhost:{{ syncthing.ports.gui }}
Restart=on-failure
RestartSec=1
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

StandardOutput=append:{{ syncthing.dir }}/stdout.log
StandardError=append:{{ syncthing.dir }}/stderr.log

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

# Elevated permissions to sync ownership (disabled by default),
# see https://docs.syncthing.net/advanced/folder-sync-ownership
#AmbientCapabilities=CAP_CHOWN CAP_FOWNER

[Install]
WantedBy=multi-user.target