[Unit]
Description=topspin ping pong tracker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ topspin.user }}
ExecStart={{ topspin.dir }}/python/bin/python {{ topspin.dir }}/server.py {{ topspin.dir }}/config.cfg

[Install]
WantedBy=multi-user.target
